body{
    margin: 0px;
    background-color:#f5f5f5;
}

.hander{
    height: 46px;
    width: 842px;
    margin: auto;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 25px;
    margin-top: 10px;
}

#h1{
    margin: 0;
}

.bing-bar{
    height: 50px;
    width: 35%;
    margin: 150px auto 0 auto;
    display: flex;
    align-items: center; /* 垂直居中对齐 */
    position: relative;
}

.bing-bar-input{
    height: 55px;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    padding: 0px 50px 0 15px;
    border: 1px solid  rgb(230, 230, 230);
    background-color:  #f9f9f9;
    border-radius: 15px;
    box-shadow: 20px 30px 40px rgba(126, 126, 126, 0.3);

}

.bing-bar-input:hover{
    background-color:#ffffff;
    border: 1px solid #f3f3f3;
}

.bing-bar-input:hover + .bing-bar-seek {
    background-color: #f0f0f0;
}

.bing-bar-input:focus + .bing-bar-seek {
    background-color: #f0f0f0;
}

.bing-bar-input:focus{
    outline: none;
    border: 1px solid  #f3f3f3;
    background-color:#ffffff;
}

.bing-bar-button-seek{
    margin: 2px 1px 0 0;
    height: 25px;
}

.bing-bar-seek{
    height: 45px;
    width: 45px;
    right: 7px;
    position: absolute;
    border-radius: 12px;
    border: none;
    background-color: #e3e3e3;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.bing-bar-seek:hover{
    background-color: #eaeaea;
}

.bing-bar-input:focus + .bing-bar-seek:hover {
    background-color: #f5f5f5;
}

.bottom-text{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-text-p {
    font-size: 12px;
    color: #999999;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 10px;
}

/* 历史记录下拉框样式 Start */
#history {
    max-height: 368px;
    transition: max-height 0.3s ease;
    width: 35%;
    overflow-y: auto;
    background-color: #ffffff;
    margin: 3px auto 0 auto;
    border: 1px solid #f3f3f3;
    border-radius: 0 0 15px 15px;
    padding: 0;
    position:relative;
    display: none;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.history-item {
    height: 30px;
    padding: 8px 0px 8px 17px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}

.history-item:hover {
    background-color: #e7e7e7;
}

.writtenWords {
    font-size: 15px;
    display: none;
}

.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.delete-icon {
    height: 12px;
    width: 12px;
}
/* 历史记录下拉框样式 End */

/* 移动端适配 Start*/
@media (max-width: 768px) {
    .hander{
        height: 46px;
        width: 270px;
        margin: auto;
        background-color: #eaeaea;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bing-bar{
        height: 50px;
        width: 70%;
        margin: 150px auto 0 auto;
        display: flex;
        align-items: center; /* 垂直居中对齐 */
        position: relative;
    }

    #history {
        max-height: 368px;
        transition: max-height 0.3s ease;
        width: 70%;
        overflow-y: auto;
        background-color: #ffffff;
        margin: 3px auto 0 auto;
        border: 1px solid #f3f3f3;
        border-radius: 0 0 15px 15px;
        padding: 0;
        position:relative;
        display: none;
        transition: transform 0.3s ease;
        box-sizing: border-box;
    }
}
/* 移动端适配 End*/